---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events?geoip=108.41.19.28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"869ebfdb648509ab886bd57e7264c89af485b8c2"'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":20253,"page":1,"geolocation":{"city":"New
        York","display_name":"New York, NY","country":"US","lon":-74.0203,"range":"50mi","state":"NY","postal_code":"10004","lat":40.6888}},"events":[{"links":[],"id":2897218,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Royal
        Hanneford Circus - White Plains","announce_date":"2015-10-30T00:00:00","score":0.466702,"date_tbd":false,"type":"family","datetime_local":"2016-02-14T10:00:00","visible_until_utc":"2016-02-14T19:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3050000,"name":"family"}],"performers":[{"stats":{"event_count":9},"name":"Royal
        Hanneford Circus","short_name":"Royal Hanneford Circus","url":"https:\/\/seatgeek.com\/royal-hanneford-circus-tickets","type":"theater","image":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/royal-hanneford-circus-677980\/8566\/huge.jpg","home_venue_id":null,"primary":true,"score":0.235949,"images":{"huge":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/royal-hanneford-circus-677980\/8566\/huge.jpg"},"slug":"royal-hanneford-circus","taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"has_upcoming_events":true,"id":8566}],"url":"https:\/\/seatgeek.com\/royal-hanneford-circus-white-plains-tickets\/family\/2016-02-14-10-am\/2897218","created_at":"2015-10-30T00:00:00","venue":{"city":"White
        Plains","name":"Westchester County Center","extended_address":"White Plains,
        NY 10607","url":"https:\/\/seatgeek.com\/venues\/westchester-county-center\/tickets","country":"US","display_location":"White
        Plains, NY","links":[],"slug":"westchester-county-center","state":"NY","score":0.536158,"postal_code":"10607","location":{"lat":41.0366,"lon":-73.7784},"address":"198
        Central Ave","timezone":"America\/New_York","id":4508},"short_title":"Royal
        Hanneford Circus - White Plains","datetime_utc":"2016-02-14T15:00:00","datetime_tbd":false},{"links":[],"id":3064962,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Royal
        Hanneford Family Spectacular - White Plains","announce_date":"2016-01-28T00:00:00","score":0.483822,"date_tbd":false,"type":"family","datetime_local":"2016-02-14T10:00:00","visible_until_utc":"2016-02-14T19:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3[...]
