---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events?geoip=108.41.19.28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2a065fa335a70fe583bcda62f117c8883503f4d1"'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":20248,"page":1,"geolocation":{"city":"New
        York","display_name":"New York, NY","country":"US","lon":-74.0203,"range":"50mi","state":"NY","postal_code":"10004","lat":40.6888}},"events":[{"links":[],"id":2977789,"stats":{"listing_count":0,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Donuts
        are Forever 10 with The Rock and Roll Playhouse","announce_date":"2015-12-18T00:00:00","score":0.461036,"date_tbd":false,"type":"concert","datetime_local":"2016-02-14T11:15:00","visible_until_utc":"2016-02-14T20:15:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":7},"name":"The
        Rock and Roll Playhouse","short_name":"The Rock and Roll Playhouse","url":"https:\/\/seatgeek.com\/the-rock-and-roll-playhouse-tickets","type":"band","image":null,"home_venue_id":null,"slug":"the-rock-and-roll-playhouse","score":0,"images":{},"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":366593},{"stats":{"event_count":1},"name":"Donuts
        are Forever 10","short_name":"Donuts are Forever 10","url":"https:\/\/seatgeek.com\/donuts-are-forever-10-tickets","type":"band","image":null,"home_venue_id":null,"primary":true,"score":0,"images":{},"slug":"donuts-are-forever-10","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":406475}],"url":"https:\/\/seatgeek.com\/donuts-are-forever-10-with-the-rock-and-roll-playhouse-tickets\/brooklyn-new-york-brooklyn-bowl-2016-02-14-11-15-am\/concert\/2977789","created_at":"2015-12-18T00:00:00","venue":{"city":"Brooklyn","name":"Brooklyn
        Bowl","extended_address":"Brooklyn, NY 11211","url":"https:\/\/seatgeek.com\/venues\/brooklyn-bowl\/tickets","country":"US","display_location":"Brooklyn,
        NY","links":[],"slug":"brooklyn-bowl","state":"NY","score":0.51315,"postal_code":"11211","location":{"lat":40.7222,"lon":-73.9575},"address":"61
        Wythe Ave","timezone":"America\/New_York","id":3526},"short_title":"Donuts
        are Forever 10 with The Rock and Roll Playhouse","datetime_utc":"2016-02-14T16:15:00","general_admission":true,"datetime_tbd":false},{"links":[],"id":3049183,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Lady
        Bunny''s Froggy Style Valentine - New York","announce_date":"2016-01-21T00:00:00","score":0,"date_tbd":false,"type":"theater","datetime_local":"2016-02-14T11:30:00","visible_until_utc":"2016-02-14T20:30:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"performers":[{"stats":{"event_cou[...]
